@media (prefers-color-scheme: light) {
  :root {
    --text: #0c0d0d;
    --background: #ffffff;
    --primary: #5c5f61;
    --secondary: #ededee;
    --accent: #84858b;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #f2f3f3;
    --background: #000000;
    --primary: #9ea1a3;
    --secondary: #111112;
    --accent: #74757b;
  }
}

:root {
  color: var(--primary);
  background-color: var(--background);
}

text,
h1,
p {
  color: var(--text);
}

a:hover {
  color: var(--secondary);
}

input,
button {
  color: var(--primary);
  background-color: var(--background);
}

button:active {
  background-color: #0f0f0f69;
}
